.wrapper {
  display: flex;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #2C313B;
  color: #FFF;
}

.sidebar {
  color: #FFF;
  background-color: #1c1c1c;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}

.sidebar .title {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #141414;
  letter-spacing: 3px;
}

.sidebar h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 30px 0;
  color: #8FA1B2;
}

input {
  margin-left: 40px;
}

label {
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
}


@media(max-width: 601px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .algorithm-data {
    width: 100%;
    padding: 20px 20px;
  }
}

.algorithm-data p {
  font-family: 'Montserrat', sans-serif;
}

.algorithm-data .title {
  color: #8FA1B2;
  font-size: 1.2em;
}

.algorithm-data {
  color: #C0C5CD;
}

@media(min-width: 602px) {
  .sidebar {
    width: 30%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .algorithm-data {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
  }
}

table {
  border-collapse: collapse;
}

table th, td {
  border: 1px solid #8FA1B2;
  padding: 15px;
  text-align: center;
}
